.bg-beige {
    background-color: #ffebcd;
  }
  
  .text-black {
    color: #000000;
  }


  .text-brown {
    color: #800000;
  }
  
  .text-orange {
    color: #ff9900;
  }
  
.text-red {color: #ff0000
  ;}

.text-light-red {
    color: #d03333;
  }
